.env
.env.*
!.env.example
.cache-spotify
*.pem
*.key
*.token

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.venv/
venv/
env/
ENV/
.cache/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.elf
*.bin
*.hex
*.o
*.d
*.map

.arduino15/
/sketch/build/
/build/

.DS_Store
Thumbs.db
desktop.ini

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.swp
*.swo
*~